<h1>Manage Polls</h1>

<%= link_to('Create new poll', new_admin_poll_url) %>

<% unless @polls.blank? %>
<table>
  <tr>
    <th>Name</th>
    <th>Question</th>
    <th>Response options</th>
    <th colspan="3">Actions</th>
  </tr>
<%   for poll in @polls %>
  <tr>
    <td><%= poll.name %></td>
    <td><%= poll.question %></td>
    <td><%= poll.response_options ? poll.response_options.length : 0 %></td>
    <td><%= link_to('Show', admin_poll_path(poll)) %></td>
    <td><%= link_to('Edit', edit_admin_poll_path(poll)) %></td>
    <td><%= link_to('Delete', admin_poll_path(poll), :confirm => 'Are you sure?', :method => :delete) %></td>
  </tr>
<%   end %>
</table>
<% else %>
<h2>No polls found</h2>
<p>There are no polls</p>
<% end %>

