<%= form_for([:admin, @poll]) do |f| %>
<p>
  <%= f.label(:name) %><br />
  <%= f.text_field(:name) %>
</p>

<p>
  <%= f.label(:question, "The poll question (e.g. 'What is your favourite colour?')") %><br />
  <%= f.text_area(:question, :rows => 4) %>
</p>

<p>
  <%= f.label(:button_label) %><br />
  <%= f.text_field(:button_label, :value => @poll.button_label) %>
</p>

<p>
  <%= f.label(:thank_you_message) %><br />
  <%= f.text_area(:thank_you_message, :rows => 4, :value => @poll.thank_you_message) %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>