<% content_for :header, stylesheet_link_tag('/noodall_poll/admin/polls.css') %>

<%= form_for(
  @poll,
  :url => {
    :controller => 'noodall_poll/admin/polls',
    :action => %w{new create}.include?(controller.action_name) ? 'create' : 'update',
    :id => @poll
  }
) do |poll_form| %>

<%= content_tag('p', poll_form.error_messages) %>
<p>
  <%= poll_form.label(:name) %><br />
  <%= poll_form.text_field(:name) %>
</p>

<p>
  <%= poll_form.label(:question, "The poll question (e.g. 'What is your favourite colour?')") %><br />
  <%= poll_form.text_area(:question, :rows => 4) %>
</p>

<p>
  <%= poll_form.label(:button_label) %><br />
  <%= poll_form.text_field(:button_label, :value => @poll.button_label) %>
</p>

<p>
  <%= poll_form.label(:thank_you_message) %><br />
  <%= poll_form.text_area(:thank_you_message, :rows => 4, :value => @poll.thank_you_message) %>
</p>
<div class="response_options">
  <%= render :partial => 'new_response_option_form' if @poll.new?  %>
  <%= fields_for_existing_reponse_options(@poll.response_options) %>
</div>
<p>
  <%= link_to(
    "Add response option",
    noodall_poll_admin_new_response_option_element_path,
    :remote => true,
    :id => 'new_response_option_element') %>
</p>

<p>
  <%= poll_form.submit %>
</p>
<% end %>

<%= javascript_tag do  %>
jQuery(function() {

  function makeResponseOptionsSortable() {
    $( ".response_options" ).sortable({ containment: 'parent' });
    $( ".response_options" ).disableSelection();
  };

  makeResponseOptionsSortable();

  function positionRemoteContent(remoteLinkId, container) {

    function putContentInContainer(content) {
      $(container).append(content);
    };

    $(remoteLinkId).bind('ajax:success', function(evt, data, status, xhr){
      putContentInContainer(xhr.responseText);
    });

  };
  positionRemoteContent('#new_response_option_element', '.response_options');

});
<% end %>