<h1><%= @poll.name %></h1>
<h2>Question</h2>
<p><%= @poll.question %></p>
<h3>Button label</h3>
<p><%= @poll.button_label %></p>
<h3>Thank you message</h3>
<p><%= @poll.thank_you_message %></p>

<div id="display_poll"></div>

<%= javascript_tag do %>

  jQuery('#display_poll').load("<%=  poll_url -%>")

<% end %>